<div class='my-account-container'>
  <h1>My Account</h1>
  <hr />

  <h2>Profile Information</h2>
  <p id='userId' data-id='{{user.id}}'>Username: {{user.username}}</p>
  <p>Email: {{user.email}}</p>

  <div>
    <button class='primary-button red-hightlight' id='delete-account-btn'>Delete
      Account</button>
    <button class='primary-button' id='change-password-btn'>Change Password</button>
  </div>
  <div class=".delete-account-error"></div>

  <div class='card'>
  <div class='card-body'>
    <h2 class='card-title'>Favorites</h2>
    {{#if favs}}
      <ul class='card-text'>
        {{#each favs}}
          <li><a href="{{this.website}}">{{this.bar_name}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      <p>No favorites found.</p>
    {{/if}}

    <div class='card'>
      <div class='card-body'>
        <h2 class='card-title'>Reviews</h2>
        {{#if reviews}}
          <ul class='card-text'>
            {{#each reviews}}
              <li>
                <div class='prev-reviews-content'>
                  <p>{{this.review_body}}</p>
                  <small>Bar: {{this.bar_name}}  </small>
                  <small>Posted: {{formatDate this.createdAt}}</small>
                </div>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>No reviews found.</p>
        {{/if}}
      </div>
    </div>

    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          <h2 class='card-title'>Search History</h2>
          {{#if user.history.length}}
            <ul class='card-text'>
              {{#each user.history}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          {{else}}
            <p>No search history found.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src='/js/my-account.js'></script>