<div class="bar--list">
  <div class="bar-list__header">
    <h1 class="bar-list__title">The List</h1><span class="bar-list__year">2023</span>
  </div>
  <hr class="bar-list__divider"/>

  <div class="bar-list__container">
    {{#each bars}}
      <div class="bar-list__item">
        <div class="bar-list__image-container">
          <img class="bar-list__image" src='{{this.image.url}}' alt='{{this.bar_name}}' />
        </div>
        <div class="bar-list__info">
          <h2 class="bar-list__info-title"><span class="bar-list__info-id">{{this.id}}.
            </span>{{this.bar_name}}</h2>
          <h3 class="bar-list__info-location">{{this.city_name}}, {{this.Province.province_name}}</h3>
          <button class="bar-list__info-button" data-id='{{this.id}}'>MORE INFO</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src='/js/the-list.js'></script>